@import "tailwindcss";
@plugin "daisyui";

/* a.active {
  color: linear-gradient(to right, #632EE3, #9F62F2);
  text-decoration: underline;
} */

a.active {
  background-image: linear-gradient(to right, #632EE3, #9F62F2);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: underline;
}
